/* @import "~@blueprintjs/core/lib/css/blueprint.css"; */

:root {
  /* Paleta de colores versos */
  --versos-1: rgb(0, 101, 148);
  --versos-2: rgb(236, 98, 111);
  --versos-3: rgb(128, 102, 87);
  --versos-4: rgb(0, 107, 51);
  --versos-5: rgb(66, 116, 185);
  --versos-6: rgb(0, 171, 133);
  --versos-7: rgb(240, 127, 90);
  --versos-8: rgb(93, 68, 149);
  --versos-9: rgb(62, 118, 99);

  /* Paleta de colores fondos */
  --fondo-1: rgb(21, 24, 27);
  --fondo-2: rgb(228, 226, 224);
  --fondo-3: rgb(226, 222, 209);

  /* Buttons */
  --button-width: 100px;
  --button-height: 130px;
  --button-color: rgb(105, 243, 90);
  --button-border: 5px solid rgb(255, 247, 0);

  /* Var Colors*/
  --title-color: var(--primary-1);
  --active-button: rgb(255, 69, 122);
  --inactive-button: rgba(0, 0, 0, 0);

  /* Canvas */
  /* A3 */
  --svg-poster-height: 56vh;
  --svg-poster-width: 40vh;

  --svg-caos-height: 40vh;
  --svg-caos-width: 56vh;

 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  /* width: 20vw; */
  justify-content: center;
  padding: 10px 10px 10px 10px;
}

.bookButton {
  width: var(--button-width);
  height: var(--button-height);
  border: white;
  margin-top: 10px;

}

.poster {
  width: var(--svg-poster-width);
  height: var(--svg-poster-height);
}

.caos {
  width: var(--svg-caos-width);
  height: var(--svg-caos-height);
}

.text {
  font-family: "FF-Unit-Pro-Bold";
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: var(--button-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

svg {
  margin-bottom: 40px;
}

/* MODE toggle */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.toggle-switch-container {
  align-content: center;
  padding: 30px;
}

.toggle-switch {
  margin: 0;
}

.toggle-switch {
  width: 10px;
  position: relative;
}

.toggle-switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.toggle-switch input:checked {
  z-index: 1;
}

.toggle-switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.toggle-switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.toggle-switch label {
  color: #424242;
  opacity: 0.33;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-outside {
  height: 100%;
  border-radius: 17px;
  padding: 11px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .toggle-inside {
  border-radius: 50%;
  background: #424242;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.switch-vertical {
  background-color: #00F;
  width: 0px;
  height: 60px;
  margin-left: 27px;
}

.switch-vertical input {
  height: 100%;
  width: 60px;
  right: 0;
  margin: 0;
}

.switch-vertical label {
  position: relative;
  font-size: 15px;
  line-height: 30px;
  display: block;
  width: 80px;
  height: 50%;
  margin: 0;
  text-align: right;
  padding-left: 12px;
  right: 120px;
}

.switch-vertical .toggle-outside {
  background: rgba(6, 6, 6, 0.5);
  position: absolute;
  width: 23px;
  height: 100%;
  right: 0;
  top: 0;
}

.switch-vertical .toggle-inside {
  height: 17px;
  left: 3px;
  top: 3px;
  width: 17px;
}

.switch-vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 3px;
}

.switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 40px;
}
